
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

//Colors-Neutral
$dark-blue:hsl(209, 23%, 22%); //DARK MODE ELEMENTS
$very-dark-blue2:hsl(207, 26%, 17%); //DARK MODE BACKGROUND
$very-dark-blue:hsl(200, 15%, 8%); //LIGHT MODE TEXT
$dark-gray:hsl(0, 0%, 52%); //LIGHT MODE INPUT
$very-light-gray:hsl(0, 0%, 98%); //LIGHT MODE BACKGROUND
$white:hsl(0, 0%, 100%); //DARK-LIGHT MODE ELEMENTS

//Typography-Body
$home-page-font-size:14px;
$detail-page-font-size:16px;

//Fonts
$font-family:'Nunito Sans', sans-serif;
$font-weights:('light':300,'semiBold':600,'extraBold':800);

